@model List< AdminCheckUserView>
@using Retirementfund_MVC.Controllers
@using Retirementfund_MVC.Services
@{
}


    <!-- ============ Body content start ============= -->
    <div class="main-content-wrap sidenav-open d-flex flex-column">
        <div class="breadcrumb">
            <h1>Table</h1>
            <ul>
                <li><a href="">Componets</a></li>
                <li>Table</li>
            </ul>
        </div>

        <div class="separator-breadcrumb border-top"></div>




        <div class="row mb-4">


            <div class="col-md-12 mb-4">
                <div class="card text-left">

                    <div class="card-body">
                        <h4 class="card-title mb-3 float-right"> برسی درخواست ها </h4>

                        <div class="table-responsive">
                            <table class="table table-hover table-dark ">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">نام و نام خانوادگی </th>
                                        <th scope="col">توضیحات</th>
                                        <th scope="col">مبلغ</th>
                                        <th scope="col">وصعیت</th>
                                        <th scope="col">تاریخ</th>
                                        <th scope="col">برسی</th>

                                    </tr>
                                </thead>
                                <tbody>
                                   @foreach (var item in Model)
                                      {
                                              

                                    <tr>
                                        <th scope="row">1</th>
                                        <td>@item.Username </td>>
                                        <td>
                                            @item.discription
                                        </td>

                                        <td>@item.price</td>
                                        <td><span class="badge badge-success">@item.adminCheck</span></td>
                                        <td>@item.DateTime</td>
                                        <td>

                                            <a href="/CRequest/@item.Id/true"  class="btn btn-success " >
                                                <i class="nav-icon i-Pen-2 "></i>
                                            </a>
                                            <a href="/CRequest/@item.Id/false" class="btn btn-danger " >
                                                <i class="nav-icon i-Close-Window "></i>
                                            </a>
                                            
                                        </td>
                                    </tr>
                                }
                                   
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>
            <!-- end of col-->

        </div>
        <!-- end of row-->








    </div>
    <!-- ============ Body content End ============= -->
<!--=============== End app-admin-wrap ================-->